<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Contract</title>
</head>
<body>
    <form action="/add_contract" method="post">
        {% if domain is defined %}

            {{ domain }} <br>
            {{ name }} <br>
            {{ email }} <br>

        <a href="/update_contract">Update a contract</a>

        {% else %}

        Domain: <br>
        <input type="text" name="domain"> <br>
        Name: <br>
        <input type="text" name="name"> <br>
        E-mail: <br>
        <input type="text" name="email"> <br>

        <input type="submit" value="Submit">

        {% endif %}
    </form>
</body>
</html>