{% extends "layout.html" %}
{% block head %}
        <script>
        $(document).ready(function () {
            (function pollTwenty(){
                $.ajax({ url: "/response?uuid={{uuidTwenty}}", success: function(response){
                    window.location.replace("/moneywithdrawn?uuid={{uuidTwenty}}");
                }, error: function(){
                    console.log("Errortime");
                }, dataType: "json", complete: pollTwenty, async:true,timeout: 30000 });
            })();
            (function pollFifty(){
                $.ajax({ url: "/response?uuid={{uuidFifty}}", success: function(response){
                    window.location.replace("/moneywithdrawn?uuid={{uuidFifty}}");
                }, error: function(){
                    console.log("Errortime");
                }, dataType: "json", complete: pollFifty, async:true,timeout: 30000 });
            })();
        });


        </script>
{% endblock %}
{% block title %} ING ATM {% endblock %}
{% block content %}
<form id="login" action="/challenge" name="login" method="post" class="form col-md-12 center-block">
    <h4 style="color:grey;">Please use your mobile device to read one of the QRCodes given below.</h4>
    <img src="{{ qrcode(dTwenty) }}" style="margin-right: 150px">
    <img src="{{ qrcode(dFifty) }}">
</form>
{% endblock %}