{% extends "layout.html" %}
{% block head %}
        <script>
        $(document).ready(function () {
            (function pollTwenty(){
                $.ajax({ url: "/response?uuid={{uuidTwenty}}", success: function(response){
                    window.location.replace("/moneywithdrawn?uuid={{uuidTwenty}}");
                }, error: function(){
                    console.log("Errortime");
                }, dataType: "json", complete: pollTwenty, async:true,timeout: 30000 });
            })();
            (function pollFifty(){
                $.ajax({ url: "/response?uuid={{uuidFifty}}", success: function(response){
                    window.location.replace("/moneywithdrawn?uuid={{uuidFifty}}");
                }, error: function(){
                    console.log("Errortime");
                }, dataType: "json", complete: pollFifty, async:true,timeout: 30000 });
            })();
        });


        </script>
{% endblock %}
{% block title %} ING ATM {% endblock %}
{% block content %}
<form id="login" action="/challenge" name="login" method="post" class="form col-md-12 center-block">
    <h4 style="color:grey;">Please use your mobile device to read one of the QRCodes given below.</h4></br>
    <table style="width:100%;">
        <tr>
            <td style="text-align: center;"> <img src="{{ qrcode(dTwenty) }}"> </td>
            <td style="text-align: center;"> <img src="{{ qrcode(dFifty) }}"> </td>
        </tr>
        <tr style="color:grey; font-size: 40px;">
            <td style="text-align: center;"></br> 20 &#8364;</td>
            <td style="text-align: center;"></br> 50 &#8364;</td>
        </tr>
    </table>
</form>
{% endblock %}