{% extends "layout.html" %}
{% block head %}
        <script>
        $(document).ready(function () {
            (function poll(){
                $.ajax({ url: "/response?uuid={{uuid}}", success: function(response){
                    window.location.replace("/loggedin");
                }, error: function(){
                    console.log("Errortime");
                }, dataType: "json", complete: poll, async:true,timeout: 30000 });
            })();
        });


        </script>
{% endblock %}
{% block title %}QR Code (for now){% endblock %}
{% block content %}
<form id="login" action="/challenge" name="login" method="post" class="form col-md-12 center-block">
    <h4 style="color:grey;">Please use your mobile device to read QRCode given below.</h4>
    <img src="{{ qrcode(d) }}">
    {{ d }}
</form>
{% endblock %}